body{
    height:100%;
    width:100%;
    font-family: "STIX Two Text", serif;
}

/*Navbar*/
.container-fluid{
    padding-left:10%;
    padding-right:10%;
}

.imgLogo{
    height:100px;
    width:100px;
}

.navbar{
    font-size:1.5rem;
    font-weight:bold;  
}

.nav-item{
    padding-left:10%;
}

.nav-link{
    color:#0a1c9a;
}

a.nav-link:hover{
    color:#426ee2;
}

/*About Me*/
#about{
    height:10%;
    width:100%;
}

.aboutRow{
    padding-left:3.5rem;
    padding-top:2.5rem;
    padding-right:1.5rem;
    padding-bottom:2.5rem;
    color:#0a1c9a;
    font-size:1.25rem;
}

.aboutImg{
    height:65%;

}

.aboutTxt{
    text-align:justify;
}

/*Services*/
#services{
    height:10%;
    width:100%;
}

.services{
    height:50%;
    padding-top:2.5rem;
}

.faStyles{
    color:#0a1c9a;
}

.serviceH1{
    color:#0a1c9a;
}

.serviceRow{
    padding-left:3.5rem;
    padding-top:2.5rem;
    padding-right:1.5rem;
    padding-bottom:2.5rem;
    color:#0a1c9a;
    font-size:1.1rem;
}

.servicesP{
    text-align:left;
}


/*Portfolio CSS*/
.portfolioRow{
    padding-left:3.5rem;
    padding-top:2.5rem;
    padding-right:1.5rem;
    padding-bottom:2.5rem;
    color:#0a1c9a;
    font-size:1.25rem;
}

.card-title{
    color:#0a1c9a;
    min-height:5rem;
}

.card-img-top{
    height:75%;
    width:75%;
}

.card-text{
    color:#426ee2;
    font-size:1.1rem;
    min-height:250px;
}

.card{
  width: auto;
  height:auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top:2%;
}

.amLogo{
    border-radius:50%;
    padding-top:2%;
}

.camLogo{
    height:100%;
    width:100%;
    border-radius:50%;
    padding-top:2%;
}

.saLogo{
    padding-top:2%;
}

.cardBtn{
    background-color:#0a1c9a !important; 
}

.cardBtn:hover{
    background-color:#426ee2 !important; 
}

/*Footer*/
#footer{
    height:10%;
    width:100%;
}

.footer{
    height:50%;
    padding-top:2.5rem;
    text-align:center;
}

.footerRow{
    color:#0a1c9a;
    font-size:1.1rem;
    padding-top:2%;
    text-align:center;
}